<!DOCTYPE html>
<html>
  <head>
    <title>Skills List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rocky Liwanag</h1>
    <h2>Software Engineer</h2>
    <a href="/skills">Skills list</a>
  </body>
</html>
